a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 2rem;
    line-height: 1.6;
    color: white;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    margin-top: 0;

}

.fondo-anime {
    position: relative;
    background-image: url('/IMG/fondo-anime.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 3.75rem;
    border-radius: 1rem;
    min-height: 500px;
    overflow: hidden;

}

.fondo-anime::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 1rem;
}

.fondo-anime>* {
    position: relative;
    z-index: 2;
}

.fondo-anime:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

section {
    margin-bottom: 2rem;
    border-radius: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #000000;
    color: white;
    border-radius: 1rem;
    margin-top: 2rem;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.footer-info{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer img{
    width: 3rem;
    height: 2rem;
    
}

.footer-container a img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: middle;
}

